img{
    width: 100px;
    padding-left: 1px;
    padding-top: -1% ;

}
body{
    background-image: url("https://i.pinimg.com/originals/77/78/b2/7778b26984b481ac6a5bb9b172c06287.png");
    background-color: #cccccc;
}

.title{
    color: white;
    text-emphasis: none;
    font-size: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align:center;
}
.parent{
    margin-bottom: 50px;
}
.info{
    border-radius: 20px;
    padding-top:15px;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}
#complaint{
    width: 700px;
    height: 150px;

}
.emailer{
    border-bottom: 50px;
    border-top: 20px;
}
.complaint_text{
    color: black;
}
.footer{
    font-size: small;
    text-align:center;
}